.photo-intro-text {
  width: 80%;
  margin: 56px auto 23px;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  text-transform: none;
}

.result-photo-container {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  margin: 16px auto;
}
.result-photo-container:before {
  content: "";
  display: block;
  padding-top: 133%;
}

.result-photo {
  position:  absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.result-nav-container {
  width: 50%;
  margin: 27px auto 27px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.result-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 35px;
  font-weight: 600;
  text-transform: none;
}

.result-button {
  margin: 0;
  padding: 7.6px 11px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-size: 22px;
  line-height: 22px;
  vertical-align: middle;
  font-weight: 100;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #ddd;
  }
}

.result-button-text {
  margin: 0 6px;
}

.result-form {
  width: 66%;
  margin: 16px auto;
  text-align: justify;
}

.result-form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.result-checkbox {
  transform: scale(1.5);
}

.result-conditions {
  width: 94%;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  text-align: center;
}
