.result-photo-container {
  position: relative;
  width: 50%;
  overflow: hidden;
  text-align: center;
  margin: 16px auto;
}
.result-photo-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.result-photo {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
}

.result-form {
  width: 80%;
  margin: 16px auto;
  text-align: justify;
}

.result-buttons-container {
  width: 40%;
  margin: 16px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.result-button {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px 32px;
  cursor: pointer;

  &:hover {
    background-color: #ccc;
  }
}
