sudo: required

language: node_js
node_js:
  - 8

notifications:
  email: false

before_script:
  - npm install
  - git config --local user.name "$USER_NAME"
  - git config --local user.email "$USER_EMAIL"

script:
  - ./node_modules/\@angular/cli/bin/ng build --prod --base-href "/auras-photo/"
  - ./node_modules/angular-cli-ghpages/bin/angular-cli-ghpages --repo=https://$GHTOKEN@github.com/inovecomcoragem/auras-photo.git
