@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

:host /deep/ .app-text {
  font: 100 italic 38px/51px 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.tablet {
  height: 1020px;
  width: 768px;
  box-sizing: border-box;

  padding: 78px 0 0;
  margin: 0 auto;
  border: 2px #000 solid;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/smoke.jpg);
}

.title-logo {
  width: 60%;
  height: 77px;
  padding: 0;
  margin: 0 auto;

  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/thoughtworks-logo-white.svg);
}

.title-subtitle {
  margin: 13.5px auto 0;
  max-width: 396px;
}
