.login-text {
  width: 55%;
  margin: 0 auto;
}

.login-title {
  margin-top: 91px;
  font-size: 32px;
  line-height: 43px;
}

.login-instructions {
  margin-top: 8px;
  font-size: 18px;
  line-height: 34px;
  vertical-align: middle;
  text-transform: lowercase;
}

.login-form {
  width: 70%;
  margin: 58px auto 0;
  position: relative;
}

.login-input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #cccccc;
  text-align: center;
  padding: 16px 0;
  font: bold normal 32px/43px 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.form-response {
  position: absolute;
  border: none;
  border-radius: 50%;
  font-size: 32px;
  line-height: 22px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  top: 17px;
  right: 36px;
}

.form-response-yes {
  padding: 5.5px 8.5px;
  background-color: #0ead69;
}

.form-response-no {
  background-color: #fe607a;
  padding: 4.5px 8px;
  border: 1px solid #d0021b;
}

.form-response-red {
  border: 1px solid #fe607a;
}

.form-response-maybe {
  background-color: #4a90e2;
  padding: 5px 10.6px;
  animation: spin 1.333s linear infinite;
}

@keyframes spin {
  100% { transform:rotate(360deg); }
}

.error-color {
  color: #fe607a;
}

.form-error {
  margin: 20px auto 0;
  font: 500 italic 24px/34px 'Open Sans', sans-serif;
  text-align: center;
}
