<div class="white-text login-text login-title">
  Para tirar sua fotografia digite o <b>código recebido</b><br> no campo abaixo
</div>

<div class="white-text login-text login-instructions">
  (o código contem 6 digitos alfanuméricos)
</div>

<form class="login-form" #loginForm="ngForm">
  <div class="login-form-group">
    <input class="login-input" type="text" name="code" [(ngModel)]="user._id" #code="ngModel" required minlength="6" maxlength="7">
  </div>

  <button class="form-button" type="submit" (click)="getUser()">✔</button>

  <div class="form-error error-color" *ngIf="!foundUser">
    Verifique o código digitado
  </div>
</form>
