<div class="login-title">
  <h1>TW : Auras</h1>
  <h2>Faça login usando código recebido por email</h2>
</div>

<form class="login-form" #loginForm="ngForm">
  <div class="login-form-group">
    <label for="code">Código</label>
    <input type="text" name="code" [(ngModel)]="user._id" #code="ngModel" required minlength="6" maxlength="7">

    <div class="form-error" *ngIf="foundUser && (code.invalid && code.dirty)">
      Código precisa ter 6 dígitos.
    </div>
  </div>

  <button type="submit" [disabled]="!loginForm.form.valid" (click)="getUser()">Entrar</button>

  <div class="form-error" *ngIf="!foundUser">
    Código inválido
  </div>
</form>
