.photo-intro-text {
  width: 80%;
  margin: 35px auto 23px;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  text-transform: none;
}

.photo-preview {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  margin-top: 16px;
  z-index: 0;
}

.photo-countdown {
  position: absolute;
  width: 100%;
  top: 30%;
  font-size: 144px;
  line-height: 196px;
  vertical-align: middle;
  width: 100%;
  font-weight: 800;
  z-index: 2;
}
