.share-square-container {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 16px auto;
}
.share-square-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.share-avatar-container {
  width: 40%;
}

.share-avatar {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background-image: url('/assets/favicon.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.share-qr-container {
  width: 20%;
}

.share-qr {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
}

.share-text {
  width: 80%;
  margin: 0 auto;
}
