<div class="app-text share-text share-qr-text">
  <p>Visualize o resultado da<br>sua fotografia utilizando o <b>código abaixo</b> no seu smartphone</p>
</div>

<canvas #qrCanvas class="share-qr-canvas"></canvas>

<div class="app-text share-text share-email-text" *ngIf="user">
  Enviaremos uma cópia do resultado para<br>o e-mail cadastrado
  <input class="share-email-input" type="text" [(ngModel)]="user.email">
</div>

<div class="app-text share-home-button-container">
  <div class="share-home-button" (click)="submit()">
    <i class="ion ion-android-arrow-forward" *ngIf="!imageUploading"></i>
    <i class="ion ion-loop share-uploading-image" *ngIf="imageUploading"></i>
  </div>
  <div class="share-home-button-text" *ngIf="!imageUploading">Confirmar</div>
</div>
