.share-square-container {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 16px auto;
}
.share-square-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.share-avatar-container {
  width: 40%;
}

.share-avatar {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background-image: url('/assets/favicon.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.share-qr-canvas {
  display: block;
  padding: 0;
  margin: 0 auto;
}

.share-text {
  width: 80%;
  margin: 0 auto;
}

.share-home-button {
  width: 20%;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px 32px;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: #ccc;
  }
}
